.right-side {
  position: relative;
  margin-left: 900px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding-right: 10px;
}

.button-row {
  margin-left: 15%;
}

.principal-font {
  font-size: 50px;
}

.img-toolbar {
  width: 200px;
  height: auto;
  position: relative;
}


.toolbar {
  height: 100px;
  width: 100%;
}

@media only screen and (max-width: 575px) {

  .img-toolbar {
    width: 100px;
    height: auto;
    position: relative;
  }

  .toolbar {
    height: 50px;
    width: 100%;
  }
  .button-row {
    margin-left: 3%;
  }

  .right-side {
    position: relative;
    margin-left: 20px;
  }

  .link {
    font-size: 20px;
  }
}

  