<mat-card class="side-bar">


    <div class="price-inputs-container">
        <mat-card-title></mat-card-title>
        <mat-card-header>
            <h1>Filtrar por</h1>
        </mat-card-header>
        <button mat-icon-button (click)="borrarFiltros()"
            class="btn btn-simple btn-clear"><mat-icon>clear</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
        <mat-card-content>
            <div>
                <mat-form-field class="top-input">
                    <mat-label>Cantidad de dias</mat-label>
                    <mat-select>
                        <div *ngFor="let cant of cantDays">
                            <mat-option value="cant">{{cant}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-panel-title class="panel-title etiqueta">
                Rango de precio
            </mat-panel-title>
            <div class="price-inputs-container">
                <mat-form-field class="example-form space">
                    <mat-label>Minimo</mat-label>
                    <span matPrefix class="money-sign">$ &nbsp;</span>
                    <input matInput>
                </mat-form-field>
                <mat-icon class="up-icon">remove</mat-icon>
                <mat-form-field class="example-form">
                    <mat-label>Maximo</mat-label>
                    <span matPrefix class="money-sign">$ &nbsp;</span>
                    <input matInput>
                </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <mat-panel-title class="panel-title etiqueta">
                Tipo de propiedad
            </mat-panel-title>
            <div *ngFor="let type of propertyTypes">
                <mat-checkbox>
                    {{type}}
                </mat-checkbox>
            </div>
            <mat-divider></mat-divider>
            <mat-panel-title class="panel-title etiqueta">
                Características
            </mat-panel-title>
            <div *ngFor="let features of features">
                <mat-checkbox>
                    {{features}}
                </mat-checkbox>
            </div>
            <mat-divider></mat-divider>
            <mat-panel-title class="panel-title etiqueta">
                Cantidad de personas
            </mat-panel-title>
            <div *ngFor="let capacity of capacities">
                <mat-checkbox>
                    {{capacity}}
                </mat-checkbox>
            </div>

        </mat-card-content>
</mat-card>