.side-bar {
    position: absolute;
    left: 10%;
    width: 300px;
    top: 15%;
}

.checkbox {
    text-decoration: none;
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}

mat-checkbox {
    display: block;
}

.space {
    padding-left: 10px;
}

.up-icon{
    padding-bottom: 15px;
}

.etiqueta {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #000000;
}

.money-sign {
    font-size: 25px;
    font-weight: 200;
}
mat-slider {
    width: 250px;
}

.price-inputs-container {
    display: flex;
    align-items: center;
}

.panel-title {
    display: block;
}

.btn-clear {
    margin-left: 90px;
}

.top-input {
    min-width: 30px;
    max-width: 220px;
    padding: 17px 15px;
    width: 100%;
}

.example-form {
    min-width: 30px;
    max-width: 100px;
    width: 100%;
}

.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}