.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgb(3, 119, 148);
  color: rgb(253, 253, 253);
  text-align: center;
  min-width: 100vh;
}

/* .mat-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
} */
