<footer class="footer">
  <div id="Footer_principal" class="py-5">

    <div class="container">
      <div class="row mb-4">
        <div class="col-md-8">
          <img src="../../../../assets/logo/Logo sitio web_Logo blanco.png" alt="renta-logo" class="img-footer">
        </div>
        <div class="col-md-4">
          <div class="social-networks d-flex align-items-center justify-content-center justify-content-md-end">
            <a href="https://www.instagram.com/" target="_blank"
              class="instagram d-inline-flex align-items-center justify-content-center"
              aria-label="Instagram del Banco Ciudad"><img src="../../../../assets/iconos/ig.png" alt="ig-logo" class="img-ig"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <p class="texto-md">{{ author }} Copyright &reg; {{ currentYear }}. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>